// Base wrapper
.reply {
  display: flex;
}

// Time text styles
.time {
  position: relative;

  &::before {
    content: '\25CF';
    padding-right: 4px;
    font-size: 8px;
    position: absolute;
    top: 20%;
    left: -10px;
  }
}

// Replies info block`s styles
.hasReplies {
  display: flex;
  align-items: center;
}
