// Styles variables
$form-button-bg-color: rgba(95, 116, 149, 0.1);

$dots-color: rgba(95, 116, 149, 0.5);
$dots-hover-color: rgba(95, 116, 149, 1);

$home-content-border-color: #171923;

$question-info-user-bg-pseudo: #343C4B;
$question-tag-bg-color: #872341;
$question-replies-block-bg-color: rgba(95, 116, 149, 0.1);
$question-form-block-bg-color: rgba(95, 116, 149, 0.1);
